* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding: 10px;
}

.tabs-container {
  display: flex;
}

.tabs-container .tab {
  border: 1px solid;
  padding: 4px 8px;
  cursor: pointer;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.current-tab {
  /* display: flex; */
  height: 450px;
  border: 1px solid;
  padding: 10px;
}